body{
    background-color: cadetblue;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
     
}

.mydiv{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.responsive{
    width:auto;
}




.dot{
    position: relative;
    top: 0px;
    height: 25p;
    width: 25px;
    background-color:white;
    border-radius: 50%;
    opacity: 1;
    display: inline-block;
    animation-name: snow1;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    
}

@keyframes snow1{
    from{top: 0px;}
    to{top: 650px;}
    
}

img{
    height:200px;
    width:200px;
    position: absolute;
    
}

.testclass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.flex-item
{
            
     margin-left: 10%;
     position: relative;
     bottom:-400px;
     left:100px; 
}
@media screen and (max-width: 1500px) {

    .flex-container{
        width: 100%;
    }
  }

@media screen and (max-width: 1024px) {
  
    .flex-container{
        width: 100%;
        position: relative;
        right: 300px;
        bottom: -70px;

    }
    img{
        width: 1200px;
        height: 800px;
    }
  } 



@media screen and (max-width: 823px) {
 
    .flex-container{
        width: 100%;
        position: relative;
        right: 150px;
        bottom:50px;
    }
}


@media screen and (max-width: 812px) {
  
    .flex-container{
        width: 100%;
        position: relative;
        right: 175px;
        bottom: 50px;
    }
    img{
        width: 450px;
        height: 400px;
    }
}


@media screen and (max-width: 540px) {
 
    .flex-container{
        width: 50%;
        position: relative;
        right: 150px;
        bottom: 300px;
    }
}

@media screen and (max-width: 280px) {
 
    body{
        width: 25%;
        font-size: 8px;
 
    }
    
    *img{
        width:100px;
        height:100px;
       
    }

    .flex-container{
        width: 10%;
        position: relative;
        left:0px;
        bottom: 0px;
    }
}






        
